<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thêm sách</title>
  <th:block th:replace="layout::link-css"></th:block>
</head>
<body>
<th:block th:replace="layout::header"></th:block>
<div class="container">
  <h1>Thêm mới sách</h1>
  <form th:action="@{/books/add}" th:object="${book}" method="post" enctype="multipart/form-data">
    <div class="col-6 mb-3">
      <label class="form-label" for="title">Tên sách:</label>
      <input class="form-control" type="text" th:field="*{title}" id="title" th:value="${book.title}">
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="author">Tác Giả:</label>
      <input class="form-control" type="text" th:field="*{author}" id="author" th:value="${book.author}">
      <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="price">Giá Sách:</label>
      <input class="form-control" type="text" th:field="*{price}" id="price" th:value="${book.price}">
      <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></span>
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="category">Danh Mục:</label>
      <select class="form-control" id="category" name="category.id">
        <option value="">== Chọn Danh Mục ==</option>
        <option th:each="category: ${categories}" th:value="${category.id}"
                th:text="${category.name}"></option>
      </select>
      <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Thêm Mới">
  </form>

  </form>
  <br>
  <a th:href="@{/books}">Trở Về</a>
</div>
<th:block th:replace="layout::footer"></th:block>
</body>
</html>
